{% extends 'base/base.html' %}

{% block content %}

<div class='container' style='margin-top:100px;'>
    <div style='max-width:900px;max-height:400px;'>
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [1, 2, 3, 4, 5, 6],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

{% endblock %}